# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
*.js.map
test-vault/
*.zip
dist/

# test
coverage/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

.env.development
.env.production

# Local settings shared with other repos
# Use ln -s /path/to/shared/file file to include here
AGENTS.md
docs/tmp/*
